<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>

<div id="app"></div>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
<p>Messages <a th:href="@{/messages}">here</a> to see a greeting.</p>
<p>Table <a th:href="@{/records}">here</a> to see a greeting.</p>
<script src="http://localhost:8000/main.js"></script>
</body>
</html>